.react-datepicker__time-container 
.react-datepicker__time 
.react-datepicker__time-box 
ul.react-datepicker__time-list{
  padding-left: 0;
}

input {
  display: flex;
  align-self: center;
  max-width: 100%;
}

.react-datepicker__input-container{
  display:flex;
  justify-content: center;
  max-width: 100%;
}

div.date-picker-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.date-picker-div div:first-of-type {
  max-width: 100%;
}

.react-datepicker-wrapper {
  max-width: 100%;
} 

@media(max-width: 380px){
  .react-datepicker {
    left: -44px;
  }
}

