.react-datepicker__time-container 
.react-datepicker__time 
.react-datepicker__time-box 
ul.react-datepicker__time-list{
  padding-left: 0;
}

input {
  display: flex;
  align-self: center;
  max-width: 100%;
}

.react-datepicker__input-container{
  display:flex;
  justify-content: center;
  max-width: 100%;
}
/*
.react-datepicker__input-container :first-child
:first-child {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  justify-content: center;
} */

div.react-datepicker-popper {
  left:-50px;
}

div.date-picker-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

div.date-picker-div:first-child {
  max-width: 100%;
}
.react-datepicker-wrapper{
  max-width: 100%;
} 



/* <div style="
    display:  flex;
    /* flex-direction: row; */
    /* width: 100%;
    justify-content:  center;
"><div class="react-datepicker-wrapper"><div class="react-datepicker__input-container"><input type="text" value="" name="start" class=""></div></div></div> */ 
