* {
box-sizing: border-box;
max-width: 750px;
} 

html {
  margin-left: auto;
  margin-right: auto;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-left: auto;
  margin-right: auto;
  
}

form {
    display: flex;
    flex-direction: column;

    background-color: #ECEECD;

    margin: 1em, auto, 2em;
    padding: 2em 1em;
    width: 95%;
   
    border-radius: 10px;

    border: 18px solid #00B7C2;
    border-top: 24px solid #00B7C2;
    border-bottom: 24px solid #00B7C2;
}

h2 {
    margin-top: 5px;
    font-family: 'Roboto', sans-serif;
    color: #29189A;
    border-bottom: 3px solid #29189A;
}

.location-tag  {
  display: flex;
  flex-direction: column;
  margin: 1em;

  background-color: #ECEECD;
  color: #29186D;
}

input, select{
  margin: 5px auto;
  display: flex;
  flex-direction: row;
  border-radius: 5px;
  font-size: 24px;
  width: 264px;
  max-width: 100%;
  color: #29189A;
  border: 3px solid #00B7C2;
  background-color: #efefef;
}

label {
  color: #29189A;
  font-size: 18px;
}

.notes input{
  width: 100%;
}

button {
  display: flex;
  justify-content: center;
  align-self: center;

  padding: 8px;
  margin: .5em auto;
  width: 250px;

  background-color: #29186D;

  font-size: 18px;
  color: #ECEECD;

  border-radius: 5px;
}



#delete-button-div {
  background-color: #29186D;
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: space-around;
}

.delete-button {
  background-color: #00B7C2;
  background-color: #ECEECD;
  color: #29186D;
  border: 6px solid #00B7C2;
}

.location-tag{
  font-size: 2em;
  text-align: center;
  border: .4em solid #29186D;
  border-radius: 5px;
  padding: .5em;
}

div, section{
  border-radius: 8px;
  margin-top: 0;
}
/* 
.name-list, .session-notes {
  color: #29189A;
  font-weight: normal;
} */

.button {
  max-width: 300px;
}

