* {
box-sizing: border-box;
max-width: 750px;
} 

html {
  margin-left: auto;
  margin-right: auto;
}

main{
  display: flex;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  align-items: center;
}

form {
    margin: 1em, auto, 2em;
    padding: 2em 1em;
    color: #ECEECD;
    color: #fcfcf7;
    background-color: #00B7C2;
    border-radius: 10px;
    width: 95%;
    display: flex;
    flex-direction: column;
}

section,  #name-list-div, .location-tag  {
  background-color: #00B7C2;
  display: flex;
  flex-direction: column;
  margin: 1em;
  /* padding: 0, 2em; */
  color: #29186D;
}

input, select{
  margin: 5px auto;
  display: flex;
  flex-direction: row;
  border-radius: 5px;
  font-size: 24px;
  width: 264px;
  max-width: 100%;
  color: #29189A
}

label {
  color: #f0f2e2;
  font-size: 18px;
}

.notes input{
  width: 100%;
}

button {
  background-color: #29186D;
  color: #ECEECD;
  /* height: 3em; */
  font-size: 18px;
  padding: 8px;
  width: 264px;
  display: flex;
  justify-content: center;
  align-self: center;
  border-radius: 5px;
 
}

header {
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-self: space-around;
  background-color: #29186D;
  color: #ECEECD;
  border-radius: 10px;
  width: 90%;
}

/* h3 {
    padding-left: 1em;
    font-size: 1.3em;
    color: #ECEECD;
} */
/* header h1, header h2, header p {
  padding-left: 12%;
  display: flex;
  color: #eceecd;
} */

#delete-button-div {
  background-color: #29186D;
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: space-around;
}

.delete-button {
  background-color: #00B7C2;
}

.location-tag{
  font-size: 2em;
  text-align: center;
  border: .4em solid #29186D;
  border-radius: 5px;
  padding: .5em;
}

div, section{
  border-radius: 8px;
  margin-top: 0;
}

.name-list, .session-notes {
  color: #29189A;
  font-weight: normal;
}

.button {
  max-width: 300px;
}

