* {
  box-sizing: border-box;
}

.sessions-list-div {
  background-color: #29186D;
  color:#ECEECD;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: space-around;
  border-radius: 10px;
}

.sessions-list {
  list-style: none;
  width:90%;
  margin: 1em, auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.session-list-item {
  list-style: none;
  margin: 1em auto;
  padding-left: 1em;
  padding-bottom: .5em;
  background-color:#ECEECD;
  border-radius: 5px;
  width: 100%;
  display: block;
  border:3.6px solid #00B7C2;
}

a {
  text-decoration: none;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  transition: .5s;
}

a h3 {
  font-family: 'Roboto', sans-serif;
  padding-right: 5px;
  max-width: 96%;
  font-size: 20px;
  font-weight: bold;
  color: #29189A;
  border-bottom: 3px solid #29189A;
  margin-bottom: .6em;
  transition: .2s;
}

a:visited {
  color: #8266ff;
}

a h3:hover{
  color: #00B7C2;
  transition: .2s;
}

a p {
  color: #29189A;
  /* text-decoration: none; */
  font-size: 18px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: .6em;
  transition: .2s;
}

a p:hover {
  color: #00B7C2;
  transition: .2s;
}






