* {
  box-sizing: border-box;
}


a {
  text-decoration: none;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  transition: .5s;
}

a h3 {
  font-family: 'Roboto', sans-serif;
  padding-right: 5px;
  max-width: 96%;
  font-size: 20px;
  font-weight: bold;
  color: #29189A;
  border-bottom: 3px solid #29189A;
  margin-bottom: .6em;
  transition: .2s;
}

a:visited {
  color: #8266ff;
}

a h3:hover{
  color: #00B7C2;
  transition: .2s;
}

a p {
  color: #29189A;
  font-size: 18px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: .6em;
  transition: .2s;
}

a p:hover {
  color: #00B7C2;
  transition: .2s;
}






