
.page {
  max-width: 500px;
  margin: 1em auto;
  font-family: 'Lato', sans-serif;
}

.add-session-form, .sessions-list-div{
  margin: .5em auto;
  padding: 1em 2em 2em;
  width: 95%;
}

.sessions-list-div {
  padding: .7em 0;
} 

.sessions-list {
  padding: 0;
  margin: 1em auto;
}

.session-list-item{
  margin: .5em auto;
}

header h1 {
  font-size: 48px;
  padding: 0;
  margin: 0;
  margin-bottom: .36em;
  font-family: 'Roboto', sans-serif;
  font-weight: bolder;
  font-stretch: 1.5;
}

/* h2, h3 {
  margin-top: 5px;
  font-family: 'Roboto', sans-serif;
  color: #F0F2E2;
  border-bottom: 2px solid #f0f2e2 ;
} */


header {
  margin-bottom: 24px;
  padding: 24px 6px;
  text-align: center;
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}

header p {
  text-align: center;
  margin: 0;
  padding: 5px;
  font-size: 24px;
}

.flex{
  display: flex;
  justify-content: baseline;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 700px){
  
  .page {
    max-width: 750px;
  }

  header {
    width: 97%;
    margin-left: auto;
    margin-right: auto;
  }
  main {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-grow: 2;
  }

  .add-session-form, .sessions-list-div{
    max-width: 49%;
    margin-left: auto;
    margin-right: auto;
    padding: 2em;
  }

  .add-session-form{
    margin-top: 0;
    padding-top: 1em;
  }

  .sessions-list-div {
  margin: 0;
  padding: 0;
  }

  .sessions-list {
    padding: 0;
    margin: 1em auto;
  }

  .session-list-item{
    margin: .5em auto;
  }


}