.page {
  max-width: 500px;
  margin: 1em auto;
}

.add-session-form, .sessions-list-div{
  margin: .5em auto;
  padding: 1em 2em 2em;
  width: 95%;
}

.sessions-list-div {
  padding: .7em 0;
}

.sessions-list {
  padding: 0;
  margin: 1em auto;
}

.session-list-item{
  margin: .5em auto;
}

h1 {
  font-size: 40px;
  margin-bottom: .36em;
}

h2 {
  margin-top: 5px;
  padding-bottom: .72em;
}

header {
  width: 95%;
}

@media (min-width: 700px){
  
  .page {
    max-width: 750px;
  }

  header {
    width: 95%;
    margin: 1em auto;
  }
  main {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-grow: 2;
  }

  .add-session-form, .sessions-list-div{
    max-width: 49%;
    margin-left: auto;
    margin-right: auto;
    padding: 2em;
  }

  .add-session-form{
    margin-top: 0;
    padding-top: 1em;
  }

  .sessions-list-div {
  margin: 0;
  padding: 0;
}

.sessions-list {
  padding: 0;
  margin: 1em auto;
}

.session-list-item{
  margin: .5em auto;
}



}